#img{
    height: 200px ;
  
}

/* #cardbody{
    height: 500px !important;
} */
/* .col{
    width: 250px;} */
#img1{
height: 280px;
}
 #cardbody p{
    font-family: monospace;
  }
  
#utente{
    width: 50px;
}